.qz-card-row {
    display: flex;
}

.qz-card-container {
    flex: 1;
}

.qz-card-header {
    flex-direction: column;
    min-height: 140px;
}

.qz-card-content {
    display: flex;
    flex-direction: column;
}

.qz-card-description {
    min-height: 150px;
}

.qz-step-bubble {
    border-top: 2px solid gray;
    content: '';
    width: 10px;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: -5px;
    margin-left: -5px;
}